<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GLINCOM</title>
  <meta name="theme-color" content="">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">

  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="bg"></div>
<header class="header">
  <a class="header__logo header__logo--hide" href="index.html"><img src="img/logo.svg" alt="logo" width="130"></a>
  <nav class="main-menu">
    <ul class="main-menu__list list-style-none">
      <li class="main-menu__item"><a href="news.html">Новости</a></li>
      <li class="main-menu__item main-menu__item--active">
        <a href="">Компания</a>
        <ul class="submenu__list list-style-none">
          <li class="submenu__item submenu__item--about"><a href="">О компании</a></li>
          <li class="submenu__item"><a href="" >Карьера</a></li>
          <li class="submenu__item"><a href="">Партнеры</a></li>
        </ul>
      </li>
      <li class="main-menu__item">
        <a href="">Проекты</a>
        <ul class="submenu__list list-style-none">
          <li class="submenu__item"><a href="">Апартаменты</a></li>
          <li class="submenu__item"><a href="">Торговые помещения</a></li>
          <li class="submenu__item"><a href="">Офисы</a></li>
        </ul>
      </li>
      <li class="main-menu__item"><a href="">Спецпредложения</a></li>
      <li class="main-menu__item"><a href="contacts.html">Контакты</a></li>
    </ul>
  </nav>
</header>
<main>
  <section class="accordion" id="test">
    <ul class="accordion__list list-style-none">
      <li class="accordion__item accordion__item--default accordion__item--active">
        <div class="accordion__left">
          <span class="accordion__number"></span>
          <p class="accordion__title"><span>Компания</span></p>
        </div>
        <!--<div class="accordion__content">-->
        <!---->
        <!--</div>-->
      </li>
      <li class="accordion__item accordion__item--toggle accordion__item--about">
        <div class="accordion__left">
          <span class="accordion__number">01</span>
          <p class="accordion__title"><span>О Компании</span></p>
        </div>
        <div class="accordion__content ">
          <div class="scroll-pane">
            <div class="scroll-pane-padding">
              <h2 class="accordion__content-title">Glincom </h2>
              <p>инвестиционная компания, реализующая проекты в области коммерческой недвижимости на территории московского региона. Мы инвестируем в объекты строительства и реконструкции с целью повышения качества недвижимости, создания торговых, офисных центров и комплексов апартаментов, отвечающих всем тенденциям современного рынка. Компания объединяет в себе высококлассных специалистов отрасли, имеющих многолетний опыт в управлении проектами и развитии недвижимости. Мы зарабатываем репутацию, потому что понимаем ее значение для реализации долгосрочных перспектив, лежащих в основе нашей модели ведения бизнеса.</p>
              <p>Наименование Компании «GlInCom» возникло путем производной от аббревиатуры следующих основополагающих в нашей деятельности категорий, отражающий суть нашей идеологии: Gleaning (пер. с англ.) — тщательно собранные/подобранные по крупицам + Investment (пер. c англ.) — инвестиционные + Combinations (пер. c англ.) — комбинации/вариации. Таким образом мы предлагаем «тщательно подобранные инвестиционные комбинации». Ключевой категорией здесь является — Gleaning. Данная категория, например, используется при описании процесса сбора зерен, что метафорично в нашем случае, и на уровне аллегории подразумевает детальность и тщательность при отборе предлагаемых нами инвестиционных вариантов и решений.</p>
              <ul class="accordion__team list-style-none">
                <li class="arrow"><img src="img/team00.jpg" alt="">
                  <div class="accordion__team-content">
                    <p>Финансовый директор</p>
                    <p>Александра Дмитриева</p>
                  </div>
                </li>
                <li class="arrow"><img src="img/team01.jpg" alt="">
                  <div class="accordion__team-content">
                    <p>Финансовый директор</p>
                    <p>Александра Дмитриева</p>
                  </div>
                </li>
                <li class="arrow"><img src="img/team02.jpg" alt="">
                  <div class="accordion__team-content">
                    <p>Финансовый директор</p>
                    <p>Александра Дмитриева</p>
                  </div>
                </li>
                <li class="arrow"><img src="img/team03.jpg" alt="">
                  <div class="accordion__team-content">
                    <p>Финансовый директор</p>
                    <p>Александра Дмитриева</p>
                  </div>
                </li>
                <li class="arrow"><img src="img/team04.jpg" alt="">
                  <div class="accordion__team-content">
                    <p>Финансовый директор</p>
                    <p>Александра Дмитриева</p>
                  </div>
                </li>
                <li class="arrow"><img src="img/team05.jpg" alt="">
                  <div class="accordion__team-content">
                    <p>Финансовый директор</p>
                    <p>Александра Дмитриева</p>
                  </div>
                </li>
                <li class="arrow"><img src="img/team06.jpg" alt="">
                  <div class="accordion__team-content">
                    <p>Финансовый директор</p>
                    <p>Александра Дмитриева</p>
                  </div>
                </li>
                <li class="arrow"><img src="img/team07.jpg" alt="">
                  <div class="accordion__team-content">
                    <p>Финансовый директор</p>
                    <p>Александра Дмитриева</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="accordion__item accordion__item--toggle">
        <div class="accordion__left">
          <span class="accordion__number">02</span>
          <p class="accordion__title"><span>Карьера</span></p>
        </div>
        <div class="accordion__content">
          <div class="scroll-pane">
            <div class="scroll-pane-padding">
              <h2 class="accordion__content-title">Glincom </h2>
              <p>предоставляет своим сотрудникам возможность роста, и способствует каждому в достижении поставленных целей, так как для нас развитие сотрудника, предопределяет развитие Компании в целом. Мы предлагаем относиться к работе, как к своему личному делу, когда вы работаете в  первую очередь на себя, используя ресурсы Компании. У нас каждый может конвертировать решенные задачи в дополнительную личную выгоду.</p>

              <p class="accordion__content-resume">
                Ваше резюме направляйте
                на электронный адрес:
                <a href="mailto:hr@glincom.com">hr@glincom.com</a>
              </p>

              <!-- блок аккордеон -->
              <div class="accordion-wrapper">
                <section class="accordion_item">
                  <h3 class="title_block">МЕНЕДЖЕР КЛИЕНТСКОЙ СЛУЖБЫ</h3>
                  <div class="info">
                    <p class="info_item">Специалист с опытом работы от 1 года в недвижимости</p>
                    <p>Основные задачи:</p>
                    <ul class="vacancy__list list-style-none">
                      <li>постпродажное сопровождение клиентов</li>
                      <li>контроль подготовки помещений к передаче </li>
                      <li>собственнику/арендатору, согласно обязательств по ДКПН и ДДА/КДА</li>
                      <li>контроль устранения замечаний, путем взаимодействия со смежными департаментами</li>
                      <li>передача помещений (ритейл, офисы, апартаменты) </li>
                      <li>по АПП/Акту доступа. Сопровождается выездами на объекты</li>
                      <li>документооборот, связанный с подписанием АПП (в т.ч. Доп. Соглашений)</li>
                      <li>прием, учет и обработка обращений клиентов</li>
                      <li>ведение отчетности</li>
                    </ul>
                    <a href="">Откликнуться</a>
                  </div>
                </section>
                <section class="accordion_item">
                  <h3 class="title_block">МЕНЕДЖЕР ОТДЕЛА ПРОДАЖ</h3>
                  <div class="info">
                    <p class="info_item">Специалист с опытом работы от 1 года в недвижимости</p>
                    <p>Основные задачи:</p>
                    <ul class="vacancy__list list-style-none">
                      <li>постпродажное сопровождение клиентов</li>
                      <li>контроль подготовки помещений к передаче </li>
                      <li>собственнику/арендатору, согласно обязательств по ДКПН и ДДА/КДА</li>
                      <li>контроль устранения замечаний, путем взаимодействия со смежными департаментами</li>
                      <li>передача помещений (ритейл, офисы, апартаменты) </li>
                      <li>по АПП/Акту доступа. Сопровождается выездами на объекты</li>
                      <li>документооборот, связанный с подписанием АПП (в т.ч. Доп. Соглашений)</li>
                      <li>прием, учет и обработка обращений клиентов</li>
                      <li>ведение отчетности</li>
                    </ul>
                    <a href="">Откликнуться</a>
                  </div>
                </section>
                <section class="accordion_item">
                  <h3 class="title_block">МЕНЕДЖЕР ОТДЕЛА ПРОДАЖ</h3>
                  <div class="info">
                    <p class="info_item">Специалист с опытом работы от 1 года в недвижимости</p>
                    <p>Основные задачи:</p>
                    <ul class="vacancy__list list-style-none">
                      <li>постпродажное сопровождение клиентов</li>
                      <li>контроль подготовки помещений к передаче </li>
                      <li>собственнику/арендатору, согласно обязательств по ДКПН и ДДА/КДА</li>
                      <li>контроль устранения замечаний, путем взаимодействия со смежными департаментами</li>
                      <li>передача помещений (ритейл, офисы, апартаменты) </li>
                      <li>по АПП/Акту доступа. Сопровождается выездами на объекты</li>
                      <li>документооборот, связанный с подписанием АПП (в т.ч. Доп. Соглашений)</li>
                      <li>прием, учет и обработка обращений клиентов</li>
                      <li>ведение отчетности</li>
                    </ul>
                    <a href="">Откликнуться</a>
                  </div>
                </section>
              </div>
              <!-- конец блока аккордеон -->

            </div>
          </div>
        </div>
      </li>
      <li class="accordion__item accordion__item--toggle">
        <div class="accordion__left">
          <span class="accordion__number">03</span>
          <p class="accordion__title"><span>Партнеры</span></p>
        </div>
        <div class="accordion__content">
          <div class="scroll-pane">
            <div class="scroll-pane-padding">
              <h2 class="accordion__content-title">Glincom </h2>
              <p>рассматривает любые варианты эффективного сотрудничества, предполагающие взаимную выгоду, долгосрочную перспективу, а также нацеленные на результат. Мы предлагаем брокерам гарантированные комиссии по самым высоким ставкам на рынке. Для проектировщиков и строителей мы выступаем заказчиком, ставящим предельно четкие технические задания. Другим компаниям мы предлагаем логичный алгоритм взаимодействия и понятную систему принятия решений с нашей стороны, чего ждем и от других.</p>
              <p>Ваши вопросы и предложения о сотрудничестве, направляйте, пожалуйста, на электронный адрес: <a href="mailto:tender@glincom.com">tender@glincom.com</a></p>
              <ul class="partners__list list-style-none">
                <li class="arrow"><img src="img/b496581df764619178e0611876d34390.jpg" alt=""></li>
                <li class="arrow"><img src="img/b496581df764619178e0611876d34390.jpg" alt=""></li>
                <li class="arrow"><img src="img/b496581df764619178e0611876d34390.jpg" alt=""></li>
                <li class="arrow"><img src="img/b496581df764619178e0611876d34390.jpg" alt=""></li>
                <li class="arrow"><img src="img/b496581df764619178e0611876d34390.jpg" alt=""></li>
                <li class="arrow"><img src="img/b496581df764619178e0611876d34390.jpg" alt=""></li>
              </ul>

            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
</main>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.mousewheel.js"></script>
<script src="js/jquery.jscrollpane.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
