<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GLINCOM</title>
  <meta name="theme-color" content="">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="bg"></div>
  <header class="header">
    <a class="header__logo header__logo--hide" href="index.html"><img src="img/logo.svg" alt="logo" width="130"></a>
    <nav class="main-menu">
      <ul class="main-menu__list list-style-none">
        <li class="main-menu__item"><a href="news.html">Новости</a></li>
        <li class="main-menu__item ">
          <a href="about.html">Компания</a>
          <ul class="submenu__list list-style-none">
            <li class="submenu__item submenu__item--about"><a href="">О компании</a></li>
            <li class="submenu__item"><a href="">Карьера</a></li>
            <li class="submenu__item"><a href="">Партнеры</a></li>
          </ul>
        </li>
        <li class="main-menu__item">
          <a href="projects.html">Проекты</a>
          <ul class="submenu__list list-style-none">
            <li class="submenu__item"><a href="">Апартаменты</a></li>
            <li class="submenu__item"><a href="">Торговые помещения</a></li>
            <li class="submenu__item"><a href="">Офисы</a></li>
          </ul>
        </li>
        <li class="main-menu__item"><a href="special.html">Спецпредложения</a></li>
        <li class="main-menu__item main-menu__item--active"><a href="contacts.html">Контакты</a></li>
      </ul>
    </nav>
  </header>
<main>
  <section class="contacts">
    <div class="left">
      <div class="left__inner">
        <h1>Контакты</h1>
      </div>
    </div>
    <div class="scroll-pane">
      <div class="right ">
      <h2>форма обратной связи</h2>
      <form action="#">
        <label>
          <span>имя</span>
          <input type="text" class="input">
        </label>
        <label>
          <span>ваш e-mail</span>
          <input type="email" class="input">
        </label>
        <label for="txt" class="contacts__label">ваше сообщение</label>
        <textarea name="txt" id="txt" cols="30" rows="10" class="textarea"></textarea>
      </form>
      <div class="contacts__inner">
        <div>
          <span>Адрес:</span>
          <p>115114, г. Москва, 2-й Павелецкий проезд, д. 5с1 </p>
          <span>Телефон:</span>
          <a href="">+7 (495) 909-90-06 </a>
          <a href="" class="link">info@glincom.com  </a>
          <p>Следите за нашими обновлениями </p>
        </div>
        <ul class="contacts__social list-style-none">
          <li><a href="" style="background-image: url(img/vk.svg)"></a></li>
          <li><a href="" style="background-image: url(img/inst.svg)"></a></li>
          <li><a href="" style="background-image: url(img/fb.svg)"></a></li>
        </ul>
      </div>

        <div id="map" style="width:100%; height:450px;"></div>
    </div>
    </div>
  </section>
</main>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.mousewheel.js"></script>
<script src="js/jquery.jscrollpane.min.js"></script>
<script src="//api-maps.yandex.ru/2.0/?load=package.standard,package.geoObjects&lang=ru-RU" type="text/javascript"></script>
<script src="js/main.js"></script>
<script src="js/map.js"></script>

</body>
</html>
