<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GLINCOM</title>
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">


    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
<!--    <section class="preloader" id="preloader">-->
<!--      <div class="preloader__icon">-->
<!--        <img src="img/preloader_logo.svg" width="300" alt="logo" >-->
<!--      </div>-->
<!--    </section>-->
    <section class="wallpaper">
      <div class="wallpaper__inner wallpaper__logo-start">
        <div class="wallpaper__hide">
          <div class="wallpaper__img-wrapper">
            <img class="" src="img/logo-boredr.svg" alt="wallpaper_logo">
          </div>
          <ul class="wallpaper__list list-style-none ">
            <li class="wallpaper__item--01"><a href="news.html">новости</a></li>
            <li class="wallpaper__item--02"><a href="about.html">КОМПАНИЯ</a></li>
            <li class="wallpaper__item--03 "><a href="">проекты</a></li>
            <li class="wallpaper__item--04"><a href="">спецпредложения</a></li>
            <li class="wallpaper__item--05"><a href="contacts.html">КОНТАКТЫ</a></li>
          </ul>
        </div>

      </div>
    </section>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/fsbanner.js"></script>
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/jquery.jscrollpane.min.js"></script>

    <script src="js/wallpaper.js"></script>


  </body>
</html>
