.main-menu {
	margin-top: 30px;
  margin-bottom: 100px;
}

.main-menu__list {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 880px;
		a {
			font-size: 16px;
			font-weight: 900;
			line-height: 19.5px;
			transition: all 0.3s;
		}
  .main-menu__item {
    &--active {
      a {
        color: #99948e;
      }
    }
  }
}



.submenu__list {
	position: absolute;
	width: 100%;
	min-width: 200px;
	left: 100%;
	opacity: 0;
	font-size: 0;
  top: 20px;
	z-index: -1;
	transition: all 0.3s;
	&::before {
		content: '';
		display: block;
		width: 5px;
		height: 5px;
		background-image: url(../img/submenu_arrow.svg);
		margin: 10px 0;
		background-repeat: no-repeat;
	}
	a {
    line-height: 19.5px;
    color: #000000;
	}
}

.main-menu__item {
	position: relative;

	&:hover {
		a {
			font-weight: 900;
      transition: all 0.3s;
      color: #99948e;
		}
		& > .submenu__list {
			opacity: 1;
			z-index: 10;
			transition: all 0.3s;
			a {
        font-weight: 900;
        color: #000000;
			}
			li {
				&:hover {
					a {
						font-weight: 900;
            transition: all 0.3s;
            color: #99948e;
					}
				}
			}
		}
	}
  span {
    position: relative;
  }

  span:hover {
    & > .submenu__list {
      opacity: 1;
      z-index: 10;
      transition: all 0.3s;
      a {
        font-weight: 900;
      }
      li {
        &:hover {
          a {
            font-weight: 900;
            transition: all 0.3s;
          }
        }
      }
    }
  }

}




.main-menu__list {
  .main-menu__item {
    display: flex;
  }
}
