.news__item-date {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 45px;
  display: block;
}

.news {
  .mCSB_inside > .mCSB_container {
    margin-right: 0;
  }
  .scroll-pane {
    max-width: 600px;
  }

  .right {
    flex-grow: 1;
    max-width: 670px;
    border-right: 1px solid #c8c7c7;
    height: 100%;
    padding-right: 20px;
    position: relative;
    z-index: 200;
    background: white;
  }

  .number {
    font-size: 36px;
    display: block;
    width: 50px;
    margin-right: 70px;
  }
}

.news__list {
  & > li {
    &:not(:last-child) {
      margin-bottom: 55px;
    }
  }
}

.news__sub-item-title {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}

.news__sub-list {
  li {
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-top: 1px solid black;
    transition: all 0.8s;
    background: white;
    &:hover {
      background: black;
      cursor: pointer;
      color: white;
      margin-left: -55px;
      margin-right: -20px;
      padding-left: 55px;
      transition: all 0.8s;
    }


    &:last-child {
      border-bottom: 1px solid black;
    }
  }

  .news__sub-item {
    &--active {
      background: black;
      cursor: pointer;
      color: white;
      margin-left: -55px;
      margin-right: -20px;
      padding-left: 55px;
      transition: all 0.8s;
    }
  }

}
.news__sub-item-desc {
  margin: 0;
}



.news__article {
  content: '';
  flex-grow: 2;
  padding-left: 55px;
  position: relative;
  overflow: hidden;


}

.news__article-item {
  transition: all 0.1s;
  position: absolute;
  left: -100%;
  top: 0;
  border-right: 1px solid #c8c7c7;
  width: calc(100% - 55px);
  height: 100%;
  padding-right: 30px;
  span {
    display: block;
  }
  &--show {
    left: 55px;
    transition: all 1s;
  }
}

.news__article-item-title {
  font-size: 20px;
  font-weight: 900;
}

.news__article-item-desc {
  font-weight: 400;
  line-height: 18px;
}

.news__article-item-txt {
  font-weight: 100;
  margin: 15px 0 10px 0;
}

.news__article-item-more {
  color: #0000ff;
}

@media (min-width: 1500px) {
  .news {
    .scroll-pane {
      max-width: 670px;
    }
  }
}
